@page "/"

<div class="col-xs-1 text-center">
    <img src="images/patsa_logo.png" alt="Pennsylvania Technology Student Association" style="height: 300px">
    <br/>
    <h2>Pennsylvania Technology Student Association</h2>
    <h3>State Conference 2025</h3>
    <h4>Coding Competition</h4>
</div>