@page "/ms-problems"

<h3>Middle School Challenges</h3>

<p>Using the offline version of the Scratch tool (Scratch Desktop) installed on your computer, create solutions that contain the following challenges.</p>

<p style="text-decoration: underline">Your goal is to complete all aspects of the three challenges in the least amount of time.</p>

<p>You are not allowed to open any previously saved coding projects (projects created before the conference).</p>

<p>When you finish each challenge, you must save the individual file as your team number followed by the challenge letter EX: Team#-Egg, Team#-Scary, and Team#-DancingAnimals. (For example, 7223-Egg, 7223-Scary, 7223-DancingAnimals)</p>

<br />

<h4>Challenge 1</h4>
<p>Save as <code>TEAM#-Egg</code></p>
<ol>
    <li>Your program must include egg sprites that appear randomly on the screen.</li>
    <li>Your program must have a hen sprite that the user or player can move with the arrow keys.</li>
    <li>Your program must also include the ability to "catch" or "hatch" the eggs by moving the hen sprite to where the eggs are.</li>
    <li>Your program should count how many eggs the user or player "catches" or "hatches".</li>
    <li>The game must run for 15 seconds and must keep track of how many eggs the character "catches" or "hatches" in 15 seconds.</li>
    <li>Points will be awarded for functionality as described as well as design and creativity.</li>
    <li>Bonus Point: Add a rooster sprite that glides on the screen. When the hen and rooster sprites collide, a count is removed (subtracted).</li>
</ol>

<br />

<h4>Challenge 2</h4>
<p>Save as <code>TEAM#-Scary</code></p>

<ol>
    <li>Your program must include four (4) skeleton sprites that are moving (gliding) randomly on the screen bouncing off the walls.</li>
    <li>Your program must have a character that the user or player can move with the arrow keys.</li>
    <li>Your program must have a sound play when any sprites collide.</li>
    <li>Your program must have a ghost sprite appear when you click on the background.</li>
    <li>The program must run for 15 seconds.</li>
    <li>Points will be awarded for functionality as described as well as design and creativity.</li>
</ol>

<br />

<h4>Challenge 3</h4>
<p>Save as <code>TEAM#-DancingAnimals</code></p>

<ol>
    <li>Your program must include three (3) different animal sprites that appear to be dancing on the screen.</li>
    <li>Your program must have one animal sprite moving "dancing" by using the arrow keys, a second animal sprite moving "dancing" by using the W,A,S,Z keys, and a third animal sprite moving "dancing" by using 8,4,6,2 numbers.</li>
    <li>Your program must include three (3) different randomly appearing object sprites that disappear and reappear in a random location when you click on the space bar.</li>
    <li>When an object sprite reappears, a sound plays.</li>
    <li>The program must run for 15 seconds.</li>
    <li>Points will be awarded for functionality as described as well as design and creativity.</li>
</ol>

<br />

@code {

}
