@page "/problems/{id}"
@using Tsa.Submissions.Coding.Ui.Models
@using Markdig
@inject HttpClient HttpClient
@* ReSharper disable once InconsistentNaming *@
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime

@if (_problem == null)
{
    <p>Loading...</p>
}
else
{
    <div class="markdown-content">@((MarkupString)_renderedDescription!)</div>
    <br />
    <a href="/problems/@Id/submissions">View Submissions for Problem</a>
    <br />
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private Problem? _problem;
    private string? _renderedDescription;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var apiKey = HttpContextAccessor.HttpContext?.Request.Cookies["api_key"];
            
            var request = new HttpRequestMessage(HttpMethod.Get, $"api/problems/{Id}");
            request.Headers.Add("X-Api-Key", apiKey);
            
            var response = await HttpClient.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                _problem = await response.Content.ReadFromJsonAsync<Problem>();
            }
            else
            {
                Console.WriteLine($"Error: {response.StatusCode}");
            }

            if (_problem == null)
            {
                Console.WriteLine($"Problem with ID {Id} not found.");
            }
            else if (_problem.Description == null)
            {
                Console.WriteLine($"Problem with ID {Id} has no description.");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("setPageTitle", _problem.Title);

                var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
                _renderedDescription = Markdown.ToHtml(_problem.Description, pipeline);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching problem details: {ex.Message}");
        }
    }
}
