@inherits LayoutComponentBase

<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-default">
            <a class="navbar-brand" href="./">
                <img src="images/patsa_logo.png" alt="Pennsylvania Technology Student Association" style="height: 60px">
            </a>
            <div class="title" style="padding-right: 30px;">
                Coding Submissions
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/problems">High School Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ms-problems">Middle School Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <main class="content"> @Body </main>
</div>

<footer class="bg-dark footer">
    <div class="container">
        &copy; @CurrentYear Pennsylvania Technology Student Association and Foundation, Inc.
    </div>
</footer>

@code {
    private static int CurrentYear => DateTime.Now.Year;
}